//*****************************************************************************\
//
//    UPX Shell
//    Copyright © 2000-2006, Michael Hardy
//
//    This program is free software; you can redistribute it and/or modify
//    it under the terms of the GNU General Public License as published by
//    the Free Software Foundation; either version 2 of the License, or
//    (at your option) any later version.
//
//    This program is distributed in the hope that it will be useful,
//    but WITHOUT ANY WARRANTY; without even the implied warranty of
//    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
//    GNU General Public License for more details.
//
//    You should have received a copy of the GNU General Public License
//    along with this program; if not, write to the Free Software
//    Foundation, Inc., 51 Franklin St, Fifth Floor, Boston, MA  02110-1301  USA
//
//\*****************************************************************************/


LANGUAGE 0, 0

// Replace a binary and rebuild the project to update its version and command help.
UPX1 EXEFILE "Resources\UPX1_x86.bin"
UPX2 EXEFILE "Resources\UPX2_x86.bin"
UPX3 EXEFILE "Resources\UPX3_x86.bin"

UPX1_HELP TEXTFILE "Resources\UPX1_Help.txt"
UPX2_HELP TEXTFILE "Resources\UPX2_Help.txt"
UPX3_HELP TEXTFILE "Resources\UPX3_Help.txt"
